name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          windres resource.rc -o resource.o
          gcc -municode -mwindows -static main.c resource.o -o SingboxManager.exe -lwininet

      - name: Create Release Archive
        run: |
          Compress-Archive -Path SingboxManager.exe -DestinationPath SingboxManager-x64.zip

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SingboxManager-x64
          path: SingboxManager.exe

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: SingboxManager-x64.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
